USE [master]
GO
/****** Object:  Database [Parking]    Script Date: 04/11/2014 06:54:23 a.m. ******/
CREATE DATABASE [Parking]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Parking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Parking]
GO
/****** Object:  Table [dbo].[CocheraFija]    Script Date: 04/11/2014 06:54:23 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CocheraFija](
	[EspacioId] [int] NOT NULL,
	[ValorMes] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_CocheraFija] PRIMARY KEY CLUSTERED 
(
	[EspacioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CocheraMovil]    Script Date: 04/11/2014 06:54:23 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CocheraMovil](
	[EspacioId] [int] NOT NULL,
	[HoraEntrada] [datetime] NULL,
	[HoraSalida] [datetime] NULL,
 CONSTRAINT [PK_CocheraMovil] PRIMARY KEY CLUSTERED 
(
	[EspacioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Espacio]    Script Date: 04/11/2014 06:54:23 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Espacio](
	[EspacioId] [int] NOT NULL,
	[PlayaId] [int] NOT NULL,
	[Codigo] [varchar](250) NOT NULL,
	[Piso] [int] NOT NULL,
	[Tamano] [varchar](250) NOT NULL,
	[VehiculoId] [int] NULL,
 CONSTRAINT [PK_Espacio] PRIMARY KEY CLUSTERED 
(
	[EspacioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Playa]    Script Date: 04/11/2014 06:54:23 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Playa](
	[PlayaId] [int] NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[Direccion] [varchar](250) NOT NULL,
	[HoraApertura] [datetime] NOT NULL,
	[HoraCierre] [datetime] NOT NULL,
 CONSTRAINT [PK_Playa] PRIMARY KEY CLUSTERED 
(
	[PlayaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoVehiculo]    Script Date: 04/11/2014 06:54:23 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoVehiculo](
	[TipoVehiculoId] [int] NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[ValorHora] [decimal](18, 2) NOT NULL,
	[ValorEstadia] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_TipoVehiculo] PRIMARY KEY CLUSTERED 
(
	[TipoVehiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 04/11/2014 06:54:23 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[VehiculoId] [int] NOT NULL,
	[Patente] [varchar](250) NOT NULL,
	[Abono] [bit] NOT NULL,
	[TipoVehiculoId] [int] NOT NULL,
 CONSTRAINT [PK_Vehiculo] PRIMARY KEY CLUSTERED 
(
	[VehiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CocheraFija] ([EspacioId], [ValorMes]) VALUES (1, CAST(600.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[CocheraFija] ([EspacioId], [ValorMes]) VALUES (3, CAST(600.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[CocheraFija] ([EspacioId], [ValorMes]) VALUES (5, CAST(400.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[CocheraMovil] ([EspacioId], [HoraEntrada], [HoraSalida]) VALUES (2, NULL, NULL)
GO
INSERT [dbo].[CocheraMovil] ([EspacioId], [HoraEntrada], [HoraSalida]) VALUES (4, CAST(N'1900-01-01 05:12:56.000' AS DateTime), CAST(N'1900-01-01 05:14:31.000' AS DateTime))
GO
INSERT [dbo].[CocheraMovil] ([EspacioId], [HoraEntrada], [HoraSalida]) VALUES (8, CAST(N'1900-01-01 05:05:49.000' AS DateTime), CAST(N'1900-01-01 05:06:16.000' AS DateTime))
GO
INSERT [dbo].[Espacio] ([EspacioId], [PlayaId], [Codigo], [Piso], [Tamano], [VehiculoId]) VALUES (1, 1, N'0001', 0, N'Grande', NULL)
GO
INSERT [dbo].[Espacio] ([EspacioId], [PlayaId], [Codigo], [Piso], [Tamano], [VehiculoId]) VALUES (2, 1, N'0002', 0, N'Grande', NULL)
GO
INSERT [dbo].[Espacio] ([EspacioId], [PlayaId], [Codigo], [Piso], [Tamano], [VehiculoId]) VALUES (3, 1, N'0003', 0, N'Mediano', NULL)
GO
INSERT [dbo].[Playa] ([PlayaId], [Nombre], [Direccion], [HoraApertura], [HoraCierre]) VALUES (1, N'Estacionamiento UAI', N'San Juan 951', CAST(N'2014-10-27 00:00:00.000' AS DateTime), CAST(N'2015-10-27 23:55:00.000' AS DateTime))
GO
INSERT [dbo].[Playa] ([PlayaId], [Nombre], [Direccion], [HoraApertura], [HoraCierre]) VALUES (2, N'Estacionamiento Hatten', N'San Juan 851', CAST(N'2014-10-27 09:00:00.000' AS DateTime), CAST(N'2015-10-27 23:00:00.000' AS DateTime))
GO
INSERT [dbo].[TipoVehiculo] ([TipoVehiculoId], [Nombre], [ValorHora], [ValorEstadia]) VALUES (1, N'Automovil', CAST(60.00 AS Decimal(18, 2)), CAST(400.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[TipoVehiculo] ([TipoVehiculoId], [Nombre], [ValorHora], [ValorEstadia]) VALUES (2, N'Moto', CAST(30.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[TipoVehiculo] ([TipoVehiculoId], [Nombre], [ValorHora], [ValorEstadia]) VALUES (3, N'Camioneta', CAST(80.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Vehiculo] ([VehiculoId], [Patente], [Abono], [TipoVehiculoId]) VALUES (1, N'ZZZ-666', 0, 1)
GO
INSERT [dbo].[Vehiculo] ([VehiculoId], [Patente], [Abono], [TipoVehiculoId]) VALUES (2, N'ojj-888', 1, 3)
GO
INSERT [dbo].[Vehiculo] ([VehiculoId], [Patente], [Abono], [TipoVehiculoId]) VALUES (3, N'HHH-777', 1, 3)
GO
ALTER TABLE [dbo].[Espacio]  WITH CHECK ADD  CONSTRAINT [FK_Espacio_Playa] FOREIGN KEY([PlayaId])
REFERENCES [dbo].[Playa] ([PlayaId])
GO
ALTER TABLE [dbo].[Espacio] CHECK CONSTRAINT [FK_Espacio_Playa]
GO
ALTER TABLE [dbo].[Espacio]  WITH CHECK ADD  CONSTRAINT [FK_Espacio_Vehiculo] FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculo] ([VehiculoId])
GO
ALTER TABLE [dbo].[Espacio] CHECK CONSTRAINT [FK_Espacio_Vehiculo]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_TipoVehiculo] FOREIGN KEY([TipoVehiculoId])
REFERENCES [dbo].[TipoVehiculo] ([TipoVehiculoId])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_Vehiculo_TipoVehiculo]
GO
USE [master]
GO
